<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tool Image Classifier</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body style="background-color: 	#f16d55;color:white">

    <div class="imagebanner">
    </div>

    <div class="text-center">
        
        <h1 class="banner"> Tool Image Identifier </h1>
        <br> 
        
        </br> 
        
        <h2 class="labelbanner"> Choose an image: </h2>
        
        <p class="pImage" id="output"></p>
        
        <h1 id="prediction" class="text-center prediction-element"></h1>
        
        <h2 id="probability" class="text-center probability-element"></h2>
        
        <h3 id="suggestion" class="text-center suggestion-element"></h3>
        
       <br>   
       <label for="toolFile">Accepted image formats: JPEG or PNG</label>     
        <input type="file" class="upload-box" id="toolFile" name="tool" accept="image/png, image/jpeg"/>
        <label for="toolFile"></label>
        </br>           
        
        <br>
        <button id="button" type="button" class="btn btn-secondary"
            style="font-size:20px; background:Orange;">Submit</button>  
        </br>
     
    </div>

</body>

<script src="../static/js/script.js"></script>


</html>